*{
    font-family: 'Avenir';
}
.main_banner{
    color: white;
    background: url(../../../images/main1/banner_img.jpg) no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;

    .main_banner_quotes{
        display: flex;
        flex-direction: column-reverse;
        h1{
            font-size: 60px;
        }
        h5{
            font-size: 20px;
        }
    }
}


